.App {
  text-align: center;
}

form {
  height: 90vh;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 0 1rem;
  grid-template-columns: auto auto;
  .container_1 {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 1rem;
  }
  .container_2 {
    display: flex;
    place-items: end;
    width: 14rem;
    align-self: center;
    padding: 50px 8px;
    border-radius: 8px;
    background: #00000030;

    place-items: flex-start;
    overflow-y: scroll;
    height: 72vh;
    div {
      width: 100%;
      grid-gap: 1rem;
      display: grid;
    }
  }
  button {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
